# Ignore everything by default
/*

# But allow these projects
!/Analyse Getaround/
!/Wallmart/
!/speed_dating/
!/The North Face ecommerce/
!/projet kayak/
!/conversion rate challenge/
!/Uber_Pickups/
!/PROJECTS_Deep_Learning_ATT_spam/
!/projet plaque/
!/.gitignore
!/README.md

# Global exclusions within projects
**/venv/
**/.venv/
**/env/
**/__pycache__/
**/.ipynb_checkpoints/
**/mlruns/
**/hf_dashboard_repo/
**/hf_api_repo/
**/.DS_Store
**/*.pkl
**/*.xlsx
**/*.csv
**/*.zip
**/*.tar.gz

# Specific heavy subfolders in projects
/projet plaque/demo/
/projet plaque/projetplaquetransfert/
/projet plaque/License-Plate-Recognition-4/
/projet plaque/testvideo/
